---
import Layout from "../layouts/LayoutExample.astro";

const title = "Astro - Essential SEO";
const description =
	"Essential SEO is a fictional website created to showcase SEO features, layouts, and metadata in a live example.";
---

<Layout title={title} description={description}>
	<h1>Astro - Essential SEO</h1>
</Layout>
