---
// another example
import SEO, { type Props as SEOProps } from "../components/SEO.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const seoDemo: SEOProps = {
  name: "Demo Site",
  title: title,
  description: description,
  image: {
    src: "/demo-img.png", // relative img path 😄
    alt: "Random demo image for Demo Site",
  },
  locale: "en",
  og: {
    type: "website",
  },
  twitter: {
    handle: "@demoSite",
    card: "summary_large_image",
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO {...seoDemo} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
