---
import SEO from "../components/SEO.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const seoDemo = {
  name: "Demo Site",
  title: "Welcome to Demo Site",
  description:
    "Demo Site is a fictional website created to showcase SEO features, layouts, and metadata in a live example.",
  image: {
    src: "https://plchldr.co/i/600x400/df720c/ffffff/png/default/Astro%20%20-%20SEO%20Basic", //Dummy Online Image Generator
    alt: "Random demo image for Demo Site",
  },
  locale: "en",
  og: {
    type: "website",
  },
  twitter: {
    handle: "@demoSite",
    card: "summary_large_image",
  },
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO {...seoDemo} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
